@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  background: url("../public/pattern.png") no-repeat center center fixed;
  background-size: cover;
}

.main-transition {
  transition: all 0.3s ease-in-out;
}